body {
  background-color: #2C1C1C;
  color: #AACCFF;
  padding: 1rem;
}

.player-container {
  margin-left: 3rem;
  width: 95%;
  height: 6rem;
  border: solid 1px;
  border-color: #AACCFF;
  position: relative;
}

.player-seeker {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #AACCFF;
  top: 0px;
}

.player-ruler-bar {
  position: absolute;
  height: 100%;
  width: 1px;
  border-left: 1px dashed #AACCFF;
  top: 0px;
}

.player-ruler-stamp {
  position: absolute;
  top: 100%;
  font-size: 0.9rem;
}

.player-segment {
  position: absolute;
  height: 0.9rem;
  background-color: #AACCFF;
  top: 0.5rem;
}

.player-label {
  position: absolute;
  font-size: 0.9rem;
  left: -3rem;
}

.collapsible-header {
  padding: 0.3rem;
  border: 1px solid #AACCFF;
}

.collapsible-header-glyph {
  display: inline-block;
  width: 1rem;
}

.collapsible-content {
  padding: 0.3rem;
  border-left: 1px solid #AACCFF;
  border-right: 1px solid #AACCFF;
  border-bottom: 1px solid #AACCFF;
}

input {
  background-color: #2C1C1C;
  color: #AACCFF;
  border: 1px solid #AACCFF;
  border-radius: 2px;
  padding: 0.3rem;
  font-size: 0.9rem;
}

.load-music-input {
  display: none;
}

.load-music-input + label {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.3rem;
}

button {
  background-color: #2C1C1C;
  color: #AACCFF;
  /*border: 1px solid #AACCFF;*/
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.3rem;
}

button:focus {
  outline:0;
}
