body {
  background-color: #2C1C1C;
  color: #AACCFF;
  padding: 1rem;
  font-family: sans-serif;
}
.connection-label {
  display: inline-block;
  width: 3.5rem;
  padding: 0.3rem;
}
.connection-status-connected { color: '#32CD32' }
.connection-status-disconnected { color: '#DC143C' }

.text-button {
  font-size: 1rem;
  border: 1px solid #AACCFF;
  margin: 0.3rem;
  color: #32CD32;
}

.player-container {
  border: solid 1px;
  border-color: #AACCFF;
  position: relative;
  margin-top: 2rem;
  padding: 1rem;
  padding-left: 4rem;
  padding-top: 2rem;
}

.player-time-container {
  border: solid 1px;
  border-color: #AACCFF;
  position: relative;
}

.player-seeker-time {
  color: #FA8072;
  position: absolute;
  top: -1rem;
  font-size: 0.9rem;
}

.player-seeker {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #FA8072;
  top: 0px;
}

.player-controls {
  padding-top: 1rem;
  text-align: center;
}

.player-ruler-bar {
  position: absolute;
  height: 100%;
  width: 1px;
  border-left: 1px dashed #AACCFF;
  top: 0px;
}

.player-ruler-stamp {
  position: absolute;
  top: 100%;
  font-size: 0.9rem;
}

.player-segment {
  position: absolute;
  height: 1rem;
  background-color: #AACCFF;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.player-label {
  position: absolute;
  font-size: 0.9rem;
  left: -3.7rem;
  margin-top: 0.5rem;
}

.relay-label {
  padding: 0.3rem
}

.relay-done-button {
  color: #32CD32;
  font-size: 1rem;
}

.relay-remove-button {
  color: #FA8072;
  font-size: 1rem;
}

.collapsible-header {
  background-color: #2C2C2C;
  padding: 0.3rem;
  border: 1px solid #AACCFF;
}

.collapsible-header-glyph {
  display: inline-block;
  width: 1rem;
}

.collapsible-content {
  padding: 0.3rem;
  border-left: 1px solid #AACCFF;
  border-right: 1px solid #AACCFF;
  border-bottom: 1px solid #AACCFF;
}

input {
  background-color: #2C1C1C;
  color: #AACCFF;
  border: 1px solid #AACCFF;
  border-radius: 2px;
  padding: 0.3rem;
  font-size: 0.9rem;
  width: 8rem;
}

input[type=number] {
  text-align: right;
  width: 5rem;
}

.load-music-input {
  display: none;
}

.load-music-input + label {
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0.5rem;
}

select {
  background-color: #2C1C1C;
  color: #AACCFF;
  border: 1px solid #AACCFF;
  border-radius: 0px;
  margin-top: 1rem;
  font-size: 1.2rem;
  padding: 0.3rem;
}

button {
  background-color: #2C1C1C;
  color: #AACCFF;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0.5rem;
}

button:focus {
  outline:0;
}
