body {
  background-color: #2C1C1C;
  color: #AACCFF;
  padding: 1rem;
  /*font-family: Monaco, monospace;*/
}

.player-container {
  margin-left: 3rem;
  width: 95%;
  height: 6rem;
  border: solid 1px;
  border-color: #AACCFF;
  position: relative;
}

.player-seeker {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #AACCFF;
  top: 0px;
}

.player-ruler-bar {
  position: absolute;
  height: 100%;
  width: 1px;
  border-left: 1px dashed #AACCFF;
  top: 0px;
}

.player-ruler-stamp {
  position: absolute;
  top: 100%;
  font-size: 0.9rem;
}

.player-segment {
  position: absolute;
  height: 0.9rem;
  background-color: #AACCFF;
  top: 0.5rem;
}

.player-label {
  position: absolute;
  font-size: 0.9rem;
  left: -3rem;
}
